calendar.add_event can update as well

PUT implies update if uid are same -- so maybe would be sensible to rename `add_<obj>` to `save_<obj>`?

I'm against any changes breaking backward compatibility 

So, maybe just docstring note?

2019-08-14, tr 12:25, Tobias Brox <notifications@github.com> rašė:

> I'm against any changes breaking backward compatibility
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/python-caldav/caldav/issues/71?email_source=notifications&email_token=AAJV6M3PUOWUPR2WJXAAB3DQEPFRLA5CNFSM4ILSSRM2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOD4IHJ4Y#issuecomment-521172211>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAJV6M3E3MVAOEEGRJO75EDQEPFRLANCNFSM4ILSSRMQ>
> .
>


Maybe the method can be renamed, but a "deprecated" alias can be preserved for backward-compatibility?

I've thought a bit on it, and decided to:

* Rename the add_* to save_*, with aliases for backwards compatibility.  The aliases may be removed when 1.0 is released
* Add an attribute "no_overwrite" to the save_*-methods, defaults to False.  If it's True, we'll do a lookup for any existing calendar item with the same uid, and raise an error if it already exists.
* Add an attribute "no_create" to the save_*-methods, defaults to False.  If it's True, we'll do a lookup for any existing calendar item with the same uid, and raise an error if it doesn't already exist.
* Also, raise an error if both no_create and no_overwrite is set to True, as this combination is invalid.

Requires some test code as well ... probably won't get around to fix this today.

I decided to skip the point "raise an error if both no_create and no_overwrite is set to True, as this combination is invalid".  It will pass if no object is given, and otherwise anyway give an error message.  I should exercise it in the tests though ...

Saving an object with the same UID but different URL will cause an error to be raised at most servers - while others (in breach of RFC 5545 and RFC 4791 section 5.3.1.1 ) will create a duplicate object.

My thoughts on this:

* I think it makes sense to revert and let `add_object` be the canonical method name, because this method is really meant for adding not updating events.
* Maybe, possibly, we should check if the UID exists in the calendar and then change the URL if needed.  But I think not.

So I've made up my mind on this.  I will revert back to the pre-2020-behaviour.  Those methods should be named `add_object` etc.  For the sync interface we still need to support `save_object` for the foreseeable future.  Examples and doc should be clear that those methods are meant for adding content.  While it's possible to update an object by keeping the same UID and URL but posting different data, the correct way of updating objects is to do `my_event_object.save()`.

I will not bother adding complexity to make sure that `calendar.save_event(data)` will actually update an existing object.  The correct way of doing this would be something like this:

```
uid = exctract_uid_from_ical(new_data)
obj = calendar.object_by_uid(uid)
obj.data = new_data
 obj.save()
```

Admittedly, more lines, but I believe this is a rather rare corner case.

`object_by_uid` should be renamed to `get_object_by_uid`.