Free Busy Request collaboration

Hi @tobixen and others,

I just opened this issue: https://github.com/niccokunzmann/python-recurring-ical-events/issues/193
If I have a full `icalendar.Calendar`, I could compute the free/busy times.
I was wondering if you would give feedback on this feature:

- Which interface would you like to use? Is the proposed one useful?
- Can you use this in order to answer free/busy requests in this lib even if the server does not answer them?
- How would you like to collaborate on this?

See also:
- https://github.com/python-caldav/caldav/issues/31
- https://stackoverflow.com/questions/51312948/how-to-get-freebusy-details-in-python-caldav-library
- I was thinking to integrate free busy into [ics-query](https://github.com/niccokunzmann/ics-query/).


Sorry slow feedback on this one.  I don't have many opinions on free-busy-requests.

There are two different ways to do free-busy-requests, the caldav RFC 4791 specifies a way to do freebusy-request towards a specific calendar, and the return icalendar object is defined in the icalendar RFC 5545.   Then there is the scheduling RFC 6638 and RFC 6047 that specifies a way to do a freebusy-request towards a person/resource/principal/email.  I believe the return format for the latter is specified in RFC 6047, but I may remember wrongly.

As for the question "Which interface would you like to use", the core business of the caldav library is to do caldav-requests towards a server.  On the server side it would be useful with such an interface, but at the client side the only thing we'd do is to query the server :-)

I will close this issue, as there is no outstanding work on the python-caldav library.

Thanks!