Perfectly good script breaks after update: "You cannot add time-range filters on the VCALENDAR component"

I'm getting this error:

```
Traceback (most recent call last):
  File "/path/to/script.py", line 33, in <module>
    print(wkout_avg(c, int(sys.argv[1])))
          ~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^
  File "/path/to/script.py", line 10, in avg
    ex_amnt_in_range = len(c.search(start=datetime.now(tzone_edt) - timedelta(days=days_ln), end=datetime.now(tzone_e)))
                           ~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/nix/store/jyx069vd5id6q5lg53xvnxf7iwr6xbwz-python3-3.13.13-env/lib/python3.13/site-packages/caldav/collection.py", line 1535, in search
    return my_searcher.search(
           ~~~~~~~~~~~~~~~~~~^
        self, server_expand, split_expanded, props, xml, post_filter, _hacks
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "/nix/store/jyx069vd5id6q5lg53xvnxf7iwr6xbwz-python3-3.13.13-env/lib/python3.13/site-packages/caldav/search.py", line 874, in search
    result = cal._request_report_build_resultlist(xm, comp_cls, props=prp)
  File "/nix/store/jyx069vd5id6q5lg53xvnxf7iwr6xbwz-python3-3.13.13-env/lib/python3.13/site-packages/caldav/collection.py", line 1341, in _request_report_build_resultlist
    response = self._query(xml, 1, "report")
  File "/nix/store/jyx069vd5id6q5lg53xvnxf7iwr6xbwz-python3-3.13.13-env/lib/python3.13/site-packages/caldav/davobject.py", line 259, in _query
    raise error.exception_by_method[query_method](errmsg(ret))
caldav.lib.error.ReportError: ReportError at '400 Bad Request

<?xml version="1.0" encoding="utf-8"?>
<d:error xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns">
  <s:exception>Sabre\DAV\Exception\BadRequest</s:exception>
  <s:message>You cannot add time-range filters on the VCALENDAR component</s:message>
</d:error>
', reason no reason
```

I don't know why it's doing this. The script was working perfectly fine for months without this error, and after an update it's not working anymore.
Creating new events still works fine, it's only when I'm trying to read events with this function that it breaks.
I'm on NixOS

What server do you use?  Do you happen to know what versions of caldav you're using now vs which version you used before?  Or could the problem be in the server upgrade?

There is a debug hook in the library, if you set the environment variable `PYTHON_CALDAV_COMMDUMP=1` (setting `caldav.error.debug_dump_communication` should also work) the library will dump all the communication with the server to `/tmp`.  It may be some useful information in the file containing the REPORT directive (`grep -l REPORT /tmp/caldav*`)

Interesting, Claude already claims to have found a bug in the library.  But it's strange, it has been tested extensively towards a lot of servers, including Baikal.

What Claude said is that per RFC 4791 §9.7, a `<C:time-range>` should be associated with a component type (i.e. `VEVENT`).

If you're only interested in events (and don't care about journals and tasks), try to add `c.search(event=True, start=...`)

I'll try to reproduce this error in a test and make a proper fix for it.

Another thing - if you pass `features='baikal'` in your configuration or when constructing the `DAVClient`, the old code should continue working.

> What server do you use? Do you happen to know what versions of caldav you're using now vs which version you used before? Or could the problem be in the server upgrade?

I'm using the Calendar 6.2.2 app on a self hosted Nextcloud AIO Docker Container (server's also running NixOS), I'm not really sure about how the CalDav setup works there, I just run the docker container and interact with the calendar through the GUI web client or through this python caldav library.

> There is a debug hook in the library, if you set the environment variable PYTHON_CALDAV_COMMDUMP=1 (setting caldav.error.debug_dump_communication should also work) the library will dump all the communication with the server to /tmp. It may be some useful information in the file containing the REPORT directive (grep -l REPORT /tmp/caldav*)

I set the environment variable in bash and ran the python script and got this: (some things redacted for privacy)
/tmp/caldavcommh5t4747c:
```
================================================================================
2026-06-03T16:24:46
====>
PROPFIND [CALENDAR URL]
User-Agent: python-caldav/3.2.1
Content-Type: text/xml
Accept: text/xml, text/calendar
Depth: 0

<?xml version='1.0' encoding='utf-8'?>
<D:propfind xmlns:D="DAV:" xmlns:C="urn:ietf:params:xml:ns:caldav"><D:prop><C:calendar-home-set/></D:prop></D:propfind>
<====
207 Multi-Status
content-encoding: gzip
content-security-policy: default-src 'none';
content-type: application/xml; charset=utf-8
date: Wed, 03 Jun 2026 20:24:47 GMT
dav: 1, 3, extended-mkcol, access-control, calendarserver-principal-property-search, oc-resource-sharing, calendar-access, calendar-proxy, calendar-auto-schedule, calendar-availability, nc-calendar-trashbin, nc-calendar-webcal-cache, calendarserver-subscribed, oc-calendar-publishing, calendarserver-sharing, addressbook, nc-paginate, nextcloud-checksum-update, nc-calendar-search, nc-enable-birthday-calendar
referrer-policy: no-referrer
strict-transport-security: max-age=31536000;
vary: Brief,Prefer, accept-encoding
x-content-type-options: nosniff
x-debug-token: t2T65KNqHvxnxGBFLIYt
x-frame-options: SAMEORIGIN
x-permitted-cross-domain-policies: none
x-request-id: t2T65KNqHvxnxGBFLIYt
x-robots-tag: noindex, nofollow
x-user-id: [USERNAME]
cf-cache-status: DYNAMIC
report-to: {"group":"cf-nel","max_age":604800,"endpoints":[{"url":"https://a.nel.cloudflare.com/report/[redacted]"}]}
server: cloudflare
nel: {"report_to":"cf-nel","success_fraction":0.0,"max_age":604800}
priority: u=3,i=?0
cf-ray: a0616c634c2a71ff-YYZ
alt-svc: h3=":443"; ma=86400
server-timing: cfExtPri

<d:multistatus xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns" xmlns:cal="urn:ietf:params:xml:ns:caldav" xmlns:cs="http://calendarserver.org/ns/" xmlns:card="urn:ietf:params:xml:ns:carddav" xmlns:oc="http://owncloud.org/ns" xmlns:nc="http://nextcloud.org/ns">
  <d:response>
    <d:href>/remote.php/dav/principals/users/[USERNAME]/</d:href>
    <d:propstat>
      <d:prop>
        <cal:calendar-home-set>
          <d:href>/remote.php/dav/calendars/[USERNAME]/</d:href>
        </cal:calendar-home-set>
      </d:prop>
      <d:status>HTTP/1.1 200 OK</d:status>
    </d:propstat>
  </d:response>
</d:multistatus>
```
There were some other files too but I'm not sure if I want to send it because they're longer and might have personal information I would have to comb through. Is this enough info? Or if you really need the other files too, is there maybe a way I could send them directly to you?

> If you're only interested in events (and don't care about journals and tasks), try to add c.search(event=True, start=...)

Yeah, that works. I guess that could serve as a provisional fix, thanks!

Thanks, I have everything I need, and I'll probably have this fixed until tomorrow.